process {
    withLabel: split        {   conda = "$projectDir/envs/split.yml"        }
    withLabel: qc           {   conda = "$projectDir/envs/qc.yml"           }
    withLabel: nextclade    {   conda = "$projectDir/envs/nextclade.yml"    }
    withLabel: annotation   {   conda = "$projectDir/envs/annotation.yml"   }
    withLabel: report       {   conda = "$projectDir/envs/report.yml"       }
}