process {
    withLabel: psl          {   conda = "$projectDir/envs/psl.yml"          }
    withLabel: split        {   conda = "$projectDir/envs/split.yml"        }
    withLabel: vocal        {   conda = "$projectDir/envs/vocal.yml"        }
    withLabel: annotation   {   conda = "$projectDir/envs/annotation.yml"   }
    withLabel: report       {   conda = "$projectDir/envs/report.yml"       }
}