process {
    withLabel: biopython    {   conda = "$projectDir/envs/biopython.yml"    }
    withLabel: nextclade    {   conda = "$projectDir/envs/nextclade.yml"    }
    withLabel: qc           {   conda = "$projectDir/envs/qc.yml"           }
    withLabel: report       {   conda = "$projectDir/envs/report.yml"       }
}