process {
    withLabel: biopython    {   container = "rkimf1/viruswarn-biopython:1.79--6875bf5"        }
    withLabel: nextclade    {   container = "rkimf1/viruswarn-flu-nextclade:3.0.1--32ead72"   }
    withLabel: qc           {   container = "rkimf1/viruswarn-flu-qc:2.25--f0db0b4"           }
    withLabel: report       {   container = "rkimf1/viruswarn-flu-report:2.25--782b9d7"       }
}