process {
    withLabel: split        {   cpus = 2;               }
    withLabel: qc           {   cpus = params.cores;    }
    withLabel: nextclade    {   cpus = params.cores;    }
    withLabel: annotation   {   cpus = 1;               }
    withLabel: report       {   cpus = params.cores;    }
}