process {
    withLabel: psl          {   cpus = params.cores;    }
    withLabel: split        {   cpus = 2;               }
    withLabel: vocal        {   cpus = 1;               }
    withLabel: annotation   {   cpus = 1;               }
    withLabel: report       {   cpus = 2;               }
}